In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,minmax_scale,MinMaxScaler
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [71]:

df=pd.read_csv('new_df.csv')
df.head()

     Date   Open   High    Low  Close  Year   Full_Date  Price_Range   Returns
0  Jul-05  13.00  14.00  11.25  12.46  2005  2005-07-05         2.75       NaN
1  Aug-05  12.58  14.88  12.55  13.42  2005  2005-08-05         2.33  7.704655
2  Sep-05  13.48  14.87  12.27  13.30  2005  2005-09-05         2.60 -0.894188
3  Oct-05  13.20  14.47  12.40  12.99  2005  2005-10-05         2.07 -2.330827
4  Nov-05  13.35  13.88  12.88  13.41  2005  2005-11-05         1.00  3.233256

In [72]:
df['year'] =pd.to_datetime( df['Full_Date']).dt.year
df['month'] = pd.to_datetime(df['Full_Date']).dt.month
df=df.drop(['Full_Date'],axis=1)
df['Returns'].fillna(0, inplace=True)

C:\Users\mkhateed\AppData\Local\Temp\ipykernel_14628\4128283084.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Returns'].fillna(0, inplace=True)

In [73]:

df=df.drop(columns=['Date','Low','Year'],axis=1)
df.head()

    Open   High  Close  Price_Range   Returns  year  month
0  13.00  14.00  12.46         2.75  0.000000  2005      7
1  12.58  14.88  13.42         2.33  7.704655  2005      8
2  13.48  14.87  13.30         2.60 -0.894188  2005      9
3  13.20  14.47  12.99         2.07 -2.330827  2005     10
4  13.35  13.88  13.41         1.00  3.233256  2005     11

In [74]:
X=df.drop(columns=['Close'],axis=1)
y=df['Close']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [77]:
df['year'].unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020])

In [78]:
X.head(20)

     Open   High  Price_Range    Returns  year  month
0   13.00  14.00         2.75   0.000000  2005      7
1   12.58  14.88         2.33   7.704655  2005      8
2   13.48  14.87         2.60  -0.894188  2005      9
3   13.20  14.47         2.07  -2.330827  2005     10
4   13.35  13.88         1.00   3.233256  2005     11
5   13.49  14.44         1.44   2.237136  2005     12
6   13.68  17.16         3.58  11.816193  2005      1
7   15.50  16.97         1.57   5.153294  2005      2
8   16.20  20.95         4.93  24.565757  2005      3
9   20.56  20.80         2.78  -2.938247  2005      4
10  19.80  21.80         6.00  -7.491021  2005      5
11  18.20  18.40         5.00 -13.366611  2005      6
12  16.00  17.20         3.38   3.457106  2006      7
13  15.90  18.60         2.90  10.396040  2006      8
14  18.00  18.88         2.08   3.475336  2006      9
15  18.78  24.20         5.70  23.401950  2006     10
16  22.80  28.47         7.07  11.150132  2006     11
17  25.40  29.66         5.26   6.516588  2006     12
18  27.40  34.16         7.16  11.827957  2006      1
19  30.20  32.60         5.80  -5.072944  2006      2

In [76]:
linear_reg=LinearRegression()
linear_reg.fit(X_train,y_train)
y_pred=linear_reg.predict(X_test)